In [1]:
#Problem 1:
#You are tasked with creating a simple SQLite database for a library's book catalog. You need to perform the following tasks:
#Create a new SQLite database named "library.db."
#Create a table named "books" with the following columns:
#id (integer, primary key)
#title (text)
#author (text)
#published_year (integer)
#copies_available (integer)
#Insert three sample book records into the "books" table.
#Update the number of copies available for one of the books to 5.
#Count and display the total number of books in the catalog.
#Commit all changes to the database.

In [1]:
#Start up SQLite and file path

import  sqlite3
con = sqlite3.connect('C:\\Users\\tejer\\test.sqlite')

#Connect to database via cursor. Create my table and add variables / columns per the prompt.

cur = con.cursor()
cur.execute('''CREATE TABLE library (
                book_id INTEGER PRIMARY KEY,
                title TEXT,
                author TEXT,
                published_year INTEGER,
                copies_available INTEGER)''')

In [2]:
#Looks like we're talking to the database, let's commit our execute command.

con.commit()

In [3]:
#Let's validate what we've done so far

#SQLite database file path
db_file = 'C:\\Users\\tejer\\test.sqlite'

#Table name to check
table_name = 'library'

#Connect to the SQLite database
con = sqlite3.connect(db_file)
cur = con.cursor()

#Check if the table exists in the database
cur.execute(f"PRAGMA table_info({table_name})")
table_info = cur.fetchall()

if table_info:
    print(f"The table '{table_name}' exists in the database.")
else:
    print(f"The table '{table_name}' does not exist in the database.")

The table 'library' exists in the database.

In [4]:
#Cool, the table exists. Now let's pivot to inserting book records.

#Define the data to be inserted
initial_books = [
    (1, 'Frankenstein', 'Mary Shelley', 1818, 3),
    (2, 'Pride and Prejudice', 'Jane Austen',1813, 25),
    (3, 'The Hobbit', 'J.R.R. Tolkein', 1937, 40)
]

#Insert the data into the table
cur.executemany("INSERT INTO library (book_id, title, author, published_year, copies_available) VALUES (?, ?, ?, ?, ?)", initial_books)

In [5]:
#Seems to have read the commands. Let's commit.

con.commit()

In [6]:
#Let's verify our results:

#Call on the library database
cur.execute("SELECT * FROM library")

#Fetch all rows as a list of tuples
rows = cur.fetchall()

#Print the rows
for row in rows:
    print(row)

(1, 'Frankenstein', 'Mary Shelley', 1818, 3)
(2, 'Pride and Prejudice', 'Jane Austen', 1813, 25)
(3, 'The Hobbit', 'J.R.R. Tolkein', 1937, 40)

In [7]:
#There it is. Let's update the copies available now.

#Define the new data for the update
new_copies_available = 5

#Identify the record to update
id_to_update = 1

# Update the record
cur.execute("UPDATE library SET copies_available=? WHERE book_id=?", (new_copies_available, id_to_update))

In [8]:
#Python seemed to like that command. Let's commit.

con.commit()

In [9]:
#Now let's verify by running the same code in the earlier block.

cur.execute("SELECT * FROM library")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Frankenstein', 'Mary Shelley', 1818, 5)
(2, 'Pride and Prejudice', 'Jane Austen', 1813, 25)
(3, 'The Hobbit', 'J.R.R. Tolkein', 1937, 40)

In [10]:
#Nice, Frankenstein is now showing 5 copies available. Let's count our total copies available in the database now.

#Identify which column we want to sum up
column_name = 'copies_available'

#Execute a SUM query to count the number of rows in the table
cur.execute(f"SELECT SUM({column_name}) FROM library")

#Reference the zero row that is holding the sum from the prior command before printing
total = cur.fetchone()[0]
print(f"Total {column_name}: {total}")

Total copies_available: 70

In [11]:
#Success. On to the next question.

In [12]:
#Problem 2:
#You have successfully created the "library.db" database and populated it with the initial sample book data. Now, you need to perform the following tasks:
#Add the following books to the "books" table:
#Title: "The Great Gatsby," Author: "F. Scott Fitzgerald," Published Year: 1925, Copies Available: 3
#Title: "To Kill a Mockingbird," Author: "Harper Lee," Published Year: 1960, Copies Available: 4
#Title: "1984," Author: "George Orwell," Published Year: 1949, Copies Available: 6
#Retrieve and display the titles of all books published before the year 2000.
#Update the number of copies available for "1984" to 7.
#Delete the book with the title "Pride and Prejudice" from the catalog.
#Calculate and display the average published year for all books in the catalog.
#Commit all changes to the database.

In [13]:
#Let's add to our table using a similar set of commands from the prior question:
#Need to increase the ID count.

secondary_books = [
    (4, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 3),
    (5, 'To Kill A Mockingbird', 'Harper Lee', 1960, 4),
    (6, '1984', 'George Orwell', 1949, 6)
]

#Insert the data into the table
cur.executemany("INSERT INTO library (book_id, title, author, published_year, copies_available) VALUES (?, ?, ?, ?, ?)", secondary_books)

In [14]:
#That worked, let's commit.

con.commit()

In [15]:
#Let's verify:

cur.execute("SELECT * FROM library")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Frankenstein', 'Mary Shelley', 1818, 5)
(2, 'Pride and Prejudice', 'Jane Austen', 1813, 25)
(3, 'The Hobbit', 'J.R.R. Tolkein', 1937, 40)
(4, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 3)
(5, 'To Kill A Mockingbird', 'Harper Lee', 1960, 4)
(6, '1984', 'George Orwell', 1949, 6)

In [16]:
#It's all there. Now let's delete the record of Pride and Prejudice. Let's try to do it referencing the specific title.

delete_title = 'Pride and Prejudice'
cur.execute(f"DELETE FROM library WHERE title = ?", (delete_title,))

In [17]:
#Let's commit and verify

con.commit()
cur.execute("SELECT * FROM library")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Frankenstein', 'Mary Shelley', 1818, 5)
(3, 'The Hobbit', 'J.R.R. Tolkein', 1937, 40)
(4, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 3)
(5, 'To Kill A Mockingbird', 'Harper Lee', 1960, 4)
(6, '1984', 'George Orwell', 1949, 6)

In [18]:
#Pride and Prejudice is gone - success.
#Unfortunately, all the books in the library are pre-2000. So let's do the question in the prompt but with an ealier date.

#Define date

year_1900 = 1900

#Execute a SELECT query to fetch specific title from records with date below the specified date
cur.execute("SELECT title FROM library WHERE published_year < ?", (year_1900,))
below_1900_rows = cur.fetchall()
for row in below_1900_rows:
    print(row)

('Frankenstein',)

In [19]:
#Now let's pull the average published date through a similar process.

cur.execute(f"SELECT AVG(published_year) FROM library")
average = cur.fetchone()[0]
print(f"Average published_year: {average}")

Average published_year: 1917.8

In [20]:
#Finally let's updat the number of copies of 1984 to 7. Let's use the book title instead of ID this time.

new_copies_available = 7
cur.execute("UPDATE library SET copies_available=? WHERE title=?", (new_copies_available, '1984'))

In [21]:
#Committ and verify:

con.commit()
cur.execute("SELECT * FROM library")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Frankenstein', 'Mary Shelley', 1818, 5)
(3, 'The Hobbit', 'J.R.R. Tolkein', 1937, 40)
(4, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 3)
(5, 'To Kill A Mockingbird', 'Harper Lee', 1960, 4)
(6, '1984', 'George Orwell', 1949, 7)

In [22]:
#Great, on to the third question.
#Problem 3: You have been working with the "library.db" database, which contains information about books in a library. Now, you need to perform tasks related to data types and storage classes:
#Create a new table named "library_members" with the following columns:
#member_id (integer, primary key)
#member_name (text)
#member_email (text)
#membership_date (date)
#Insert two sample library member records into the "library_members" table. Ensure you provide values for all columns, 
#including membership_date, which should be in the 'YYYY-MM-DD' format.
#Create a table named "loans" to track books that are checked out by members. This table should have the following columns:
#loan_id (integer, primary key)
#book_id (integer, foreign key referencing "books" table)
#member_id (integer, foreign key referencing "library_members" table)
#loan_date (date)
#due_date (date)
#Insert a sample loan record into the "loans" table. 
#Assume a book with ID 1 is checked out by a member with ID 1, and set the loan date and due date accordingly.
#Retrieve and display the names and email addresses of all library members who have borrowed books.
#Calculate and display the total number of books currently checked out.
#Commit all changes to the database.

In [23]:
#Add a new table called "library_members"

cur.execute('''CREATE TABLE library_members (
                member_id INTEGER PRIMARY KEY,
                member_name TEXT,
                member_email TEXT,
                member_date DATE)''')

table_name = 'library_members'

#Connect to the SQLite database
con = sqlite3.connect(db_file)
cur = con.cursor()

#Check if the table exists in the database
cur.execute(f"PRAGMA table_info({table_name})")
table_info = cur.fetchall()

if table_info:
    print(f"The table '{table_name}' exists in the database.")
else:
    print(f"The table '{table_name}' does not exist in the database.")

The table 'library_members' exists in the database.

In [24]:
#Looks like we're talking to the database, let's commit our execute command.

con.commit()

In [25]:
#Define the data to be inserted

initial_members = [
    (1, 'Maxwell Tejera', 'tejeramaxwell@gmail.com', '2023-09-23'),
    (2, 'Dawn Gregg', 'dawn.gregg@ucdenver.edu', '2023-09-23'),
]

#Insert the data into the table
cur.executemany("INSERT INTO library_members (member_id, member_name, member_email, member_date) VALUES (?, ?, ?, ?)", initial_members)

In [26]:
#Looks like we're talking to the database, let's commit our execute command.

con.commit()

In [27]:
#Let's verify

cur.execute("SELECT * FROM library_members")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Maxwell Tejera', 'tejeramaxwell@gmail.com', '2023-09-23')
(2, 'Dawn Gregg', 'dawn.gregg@ucdenver.edu', '2023-09-23')

In [36]:
#Add a new table called "loans"
#loan_id (integer, primary key)
#book_id (integer, foreign key referencing "books" table)
#member_id (integer, foreign key referencing "library_members" table)
#loan_date (date)
#due_date (date)

cur.execute('''CREATE TABLE loans (
                loan_id INTEGER PRIMARY KEY,
                due_date DATE,
                loan_date DATE,
                book_id INTEGER,
                member_id INTEGER,
                FOREIGN KEY(member_id) REFERENCES library_members(member_id),
                FOREIGN KEY(book_id) REFERENCES library(book_id)
                )''')


table_name = 'loans'

#Connect to the SQLite database
con = sqlite3.connect(db_file)
cur = con.cursor()

#Check if the table exists in the database
cur.execute(f"PRAGMA table_info({table_name})")
table_info = cur.fetchall()

if table_info:
    print(f"The table '{table_name}' exists in the database.")
else:
    print(f"The table '{table_name}' does not exist in the database.")

The table 'loans' exists in the database.

In [37]:
con.commit()

In [39]:
#Insert a sample loan record into the "loans" table. 
#Assume a book with ID 1 is checked out by a member with ID 1, and set the loan date and due date accordingly.

test_loan = [
    (1, '2023-10-05', '2023-09-23', 1, 1,),
]

#Insert the data into the table
cur.executemany("INSERT INTO loans (loan_id, due_date, loan_date, book_id, member_id) VALUES (?, ?, ?, ?, ?)", test_loan)

In [41]:
con.commit()

In [44]:
#Retrieve and display the names and email addresses of all library members who have borrowed books.
#Commit all changes to the database.

#Execute initial query
cur.execute("SELECT member_id FROM loans")

#Fetch results

members_loaned = cur.fetchall()

#Run loop through all member_ids in loans to query the member contact info in the library_members

for member_id in members_loaned:
    cur.execute("SELECT member_name, member_email FROM library_members WHERE member_id = ?", (member_id[0],))
    member_contact = cur.fetchone()
    if member_contact:
        member_name, member_email = member_contact
        print(f"Member ID: {member_id[0]}, Member Name: {member_name}, Member Email: {member_email}")

Member ID: 1, Member Name: Maxwell Tejera, Member Email: tejeramaxwell@gmail.com

In [46]:
#Calculate and display the total number of books currently checked out.

#Similar to before but we'll need to count
#Initial query

cur.execute("SELECT book_id FROM loans")

#Fetch results

books_loaned = cur.fetchall()

#Calculate and count

books_loaned_count = 0
for book_id in books_loaned:
    books_loaned_count = books_loaned_count + 1
    
print(books_loaned_count)

1

In [ ]:
#Success. On to next question.
#Problem 4: You are tasked with implementing a parameterized query to retrieve information from your library database. Specifically:
#Write a Python script that prompts the user to enter the name of a book author.
#Use a parameterized query to retrieve and display the titles of all books in the "books" table written by the author entered by the user.
#Ensure that your parameterized query is properly sanitized to prevent SQL injection.
#Test your script by entering the name of an author in the prompt and displaying the book titles.

In [48]:
#Prompt user

query_author = input('What is the name of the author you are looking up?\n')

#Lookup titles. Note the ? to protect against injection.
cur.execute("SELECT title FROM library WHERE author = ?", (query_author,))
query_author_titles = cur.fetchall()

#Print all matches
for book in query_author_titles:
    print(book)

What is the name of the author you are looking up?
Mary Shelley
('Frankenstein',)

In [ ]:
#Success. Next problem.
#Problem 5: You are tasked with writing a Python function for a simple calculator that performs addition, 
#subtraction, multiplication, and division. However, you need to ensure the function is robust and handles potential issues
#Write a function named calculate that takes three arguments: num1 (a number), num2 (a number), 
#and operator (a string representing the operation: "+", "-", "*", or "/").
#Use assertions to check the following conditions:
#Ensure that num1 and num2 are both numeric values (int or float).
#Ensure that operator is one of the allowed operations: "+", "-", "*", or "/".
#Ensure that division by zero is not attempted (for the division operation).
#Implement the calculator functionality based on the provided operator:
#Addition: Return the result of adding num1 and num2.
#Subtraction: Return the result of subtracting num2 from num1.
#Multiplication: Return the result of multiplying num1 and num2.
#Division: Return the result of dividing num1 by num2.
#Handle any potential exceptions that may arise, such as division by zero or invalid input, and return an appropriate error 
#Test your function by calling it with various numeric values and operators, including cases that may trigger assertions 
#or exceptions.

In [60]:
#Now we need to define our function. It will run a different formula depending on the operator.
#This could be done through a series of IF statements to use a different equation for each operator.

def calculate(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num2 - num1
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 != 0:
            return num1 / num2
        else:
            return "Division by zero is not allowed"
    else:
        return "Invalid operator"

#Take inputs: two numbers and an operator.

num1 = float(input('First number\n'))
num2 = float(input('Second number\n'))
operator = input('Operator - Choose either:\n+ \n- \n* \n/ \n')
    
calculate(num1,num2,operator)

First number
2
Second number
2
Operator - Choose either:
+
-
*
/
+

4.0

In [58]:
#Let's test with string inputs:
num1 = float(input('First number\n'))
num2 = float(input('Second number\n'))
operator = input('Operator - Choose either:\n + \n - \n * \n / \n')
    
calculate(num1,num2,operator)

First number
a

ValueError: could not convert string to float: 'a'

In [59]:
#Let's try dividing by zero

num1 = float(input('First number\n'))
num2 = float(input('Second number\n'))
operator = input('Operator - Choose either:\n + \n - \n * \n / \n')
    
calculate(num1,num2,operator)

First number
5
Second number
0
Operator - Choose either:
 +
 -
 *
 /
/

'Division by zero is not allowed'

In [61]:
#Seems to work.
#Problem 6: You are creating a simple program that asks the user for their age. 
#You want to ensure that the age entered is a positive integer and that it falls within a reasonable range 
#(e.g., between 1 and 120). Write a Python script to accomplish this:
#Prompt the user to enter their age.
#Use input validation to ensure the entered value is a positive integer. 
#If the input is not a positive integer, display an error message and prompt the user to enter their age again
#until valid input is provided.
#After valid input is received, check if the age is within the reasonable range of 1 to 120. 
#If it's not within this range, display an error message and prompt the user to enter their age again 
#until a valid age within the range is provided.
#Once valid input is obtained, display a message confirming the user's age.
#Implement appropriate error-handling and input validation techniques to ensure the program behaves correctly even
#when the user provides unexpected input.

In [74]:
#Prompt user for age

age_input = int(input('How many years old are you?\n'))

#Check if it's in reason by running a loop through repeat inputs that don't fit the criteria.

while age_input >= 120 or age_input <= 0:
    print('I have doubts you are that old. Try again.')
    age_input = int(input('How many years old are you?\n'))
    if age_input <= 120 or age_input <= 0:
        break

print('Seems legit.')

How many years old are you?
0
I have doubts you are that old. Try again.
How many years old are you?
1
Seems legit.

In [ ]:
#Problem 7: You are tasked with writing a Python program that calculates the factorial of a positive integer. 
#However, you need to ensure that the program can handle large numbers and protect against overflow errors. 
#Here are the specific requirements:
#Prompt the user to enter a positive integer.
#Use input validation to ensure the entered value is a positive integer. 
#If the input is not a positive integer, display an error message and prompt the user to enter a valid input.
#Implement a function named calculate_factorial that calculates the factorial of the entered integer. 
#Ensure that your function can handle large factorials without causing overflow errors.
#Use a loop to calculate the factorial iteratively, rather than using recursive functions to avoid potential stack overflow.
#If the result of the factorial exceeds a certain threshold (e.g., 10^308), 
#display an error message indicating that the result is too large to calculate.
#If the calculation is successful, display the factorial of the entered integer.
#Implement appropriate error-handling and input validation techniques to ensure the program behaves correctly 
#even when the user provides unexpected input.

In [110]:
#10^308 seems a little high to see what's going on. Let's cap it off at 10^20.

#Define a factorial function
def calculate_factorial(number):
    factorial_result = 1
    for i in range(1,number):
        factorial_result = factorial_result * i
    else:
        return factorial_result

#Ask for input. Should only be integers, so errors for text or floats.
number = int(input('What number do you want the factorial of?\n'))
#Integers should not be 0 or negative.
if number < 1:
    print('Cannot calculate negative or zero factorials. Input a positive number.')
    number = int(input('What number do you want the factorial of?\n'))

#Now we run a loop to prompt the user to input factorials that are below our overflow limit.
while calculate_factorial(number) > 10**20 :
        print('This factorial is too large for processing. Lets start over.\n')
        number = int(input('What number do you want the factorial of?\n'))
        if number < 1:
            print('Cannot calculate negative or zero factorials. Input a positive number.')
            number = int(input('What number do you want the factorial of?\n'))

result = calculate_factorial(number)
print('The factorial of your input is:',result)

What number do you want the factorial of?
-1
Cannot calculate negative or zero factorials. Input a positive number.
What number do you want the factorial of?
23
This factorial is too large for processing. Lets start over.

What number do you want the factorial of?
22
The factorial of your input is: 51090942171709440000